body {
  background-color: rgb(24, 26, 27);
  border-color: rgb(87, 87, 87);
  color: rgb(24, 26, 27);
  display: flex;
  flex-direction: row;
}

input {
  display: block;
  width: 100%;
  border-color: rgb(87, 87, 87);
  color: rgb(160, 160, 160);
  background-color: rgb(24, 26, 27);
}

textarea {
  background-color: rgb(24, 26, 27);
  border-color: rgb(87, 87, 87);
  color: rgb(160, 160, 160);
  resize: none;
}

.outer-container-right {
  background-color: black;
  height: auto;
  overflow: hidden;
  perspective: 100px;
  perspective-origin: top;
  width: 100%;
}

.inner-container {
  position: absolute;
  top: 70%;
  /* transition: top 60s; */
  transition-timing-function: linear;
  text-align: justify;
  white-space: pre-wrap;
}

.crawl {
  font-size: 20px;
  letter-spacing: 4px;
  word-spacing: ,8em;
  color: rgb(229,177,58);
  font-family: news-gothic-std, sans-serif;
  font-style: normal;
  font-weight: 1000;
  position: relative;
  margin: 0 auto;
  height: 450px;
  width: 70%;
  transform-style: preserve-3d;
  transform: rotateX(45deg);
  overflow: hidden;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}